<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top" style="padding: .75rem;">
    <a class="navbar-brand" href="#">Empresa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink='/home'><i class="fas fa-home"></i> INICIO <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink='/about'><i class="fas fa-info-circle"></i> ACERCA DE</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink='/contact'><i class="fas fa-id-card"></i> CONTACTO</a>
            </li>
        </ul>
        <form class="form-inline" (ngSubmit)="buscar(txtTermino.value)">
            <input #txtTermino class="form-control mr-sm-2" type="search" placeholder="Buscar paquete" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0 mr-2" type="submit"><i class="fas fa-search"></i> Buscar</button>
            <a class="btn btn-outline-light my-2 my-sm-0"><i class="fas fa-user"></i> Iniciar sesion</a>
        </form>
    </div>
</nav>