<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/account">Cuenta</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ventas</li>
    </ol>
</nav>
<div class="row mb-3 animate__animated animate__fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text" class="form-control" placeholder="Buscar venta por usuario" (keyup)="buscar(txtTermino.value)" #txtTermino>

            </div>
        </div>
    </div>
</div>
<div class="row animate fadeIn fast mt-4" *ngIf="cargando">
    <div class="col-12">
        <div class=" alert alert-info text-center" role="alert">
            <h4 class="alert-heading">Cargando</h4>
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>
<div class="row animate__animated animate__fadeIn" *ngIf="!cargando">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4>Lista de ventas</h4>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Paquete turístico</th>
                            <th scope="col">Fecha de compra</th>
                            <th scope="col">Total</th>
                            <th scope="col" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let venta of ventas">
                            <td>{{venta.paquete.nombre}}</td>
                            <td>{{venta.created_at}}</td>
                            <td>${{venta.total}}</td>
                            <td class="text-center">
                                <a class="cursor m-1" data-toggle="modal" data-target="#detalleVenta" (click)="detalleVenta(venta)">
                                    <i class="fas fa-eye" data-toggle="tooltip" data-placement="top" title="Ver detalle"></i>
                                </a>
                                <a *ngIf="venta.status == 'RESERVADO'" class="cursor m-1" data-toggle="tooltip" data-placement="top" title="Cancelar reservación" (click)="cancelarReservacion(venta)">
                                    <i class="fas fa-hand-holding-usd"></i>
                                </a>
                                <a *ngIf="venta.status == 'CANCELADO' || venta.status == 'REEMBOLSADO'" data-toggle="modal" data-target="#infoCancelacion" class="cursor m-1" (click)="detalleVenta(venta)">
                                    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Información del reembolso"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="txtTermino.value.length === 0">
                    <app-pagination (mandarData)="cargaDataPaginacion($event)" [nextPage]="nextPage" [previousPage]="previousPage"></app-pagination>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal detalle compra -->
<app-modal-venta [venta]="venta"></app-modal-venta>

<!-- Modal información compra cancelada -->
<div class="modal fade" id="infoCancelacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-info-circle"></i> Información del reembolso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p *ngIf="venta?.status == 'CANCELADO'" class="text-uppercase text-center">El reembolso esta siendo verificado, esto puede demorar 24 horas</p>
                <p *ngIf="venta?.status == 'REEMBOLSADO'" class="text-uppercase text-center">El reembolso ha sido aprobado, el tiempo en que se verá reflejado su dinero dependera de su banco</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times-circle"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>