/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Roboto', sans-serif;
}

.cursor {
    cursor: pointer;
}

.avatar {
    width: 80px;
}

.img-avatar {
    width: 150px;
    height: 150px;
}